@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima-Nova-Light';
    src: url('../fonts/Proxima-Nova-Light.otf');
}
@font-face {
    font-family: 'Proxima-Nova-Xbold';
    src: url('../fonts/Proxima-Nova-Xbold.otf');
}
